*.pyc
virtualenv*
cms_global_claims/migrations/*
custom_accounts/migrations/*
custom_cache/migrations/*
custom_config/migrations/*
dashboard_generator/migrations/*
import_kpis/migrations/*
dashboard_notification/migrations/*
kpis/migrations/*
webapi/migrations/*
*/migrations/*
venv*
settings_local.py
db.sqlite3
nohup.out

media/*.sql
media/*.txt
media/*.html
media/cached_json/*
media/dashboard_notification/*
media/cached_json_2/*
media/excel_cached_json/*
media/excel_cached_json_2/*
media/cache_status/*
media/cache_status_2/*
media/graphs_images/*
media/invoices_import/*
media/process_filters/*
media/web_cache/*
media/web_cache_2/*
export.csv

# exception to the rule
!media/.gitkeep
!media/dashboard_notification/.gitkeep
!media/cached_json/.gitkeep
!media/cached_json_2/.gitkeep
!media/excel_cached_json/.gitkeep
!media/excel_cached_json_2/.gitkeep
!media/cache_status/.gitkeep
!media/cache_status_2/.gitkeep
!media/web_cache/.gitkeep
!media/web_cache_2/.gitkeep
!media/graphs_images/.gitkeep
!media/invoices_import/.gitkeep
!media/process_filters/.gitkeep
!.gitkeep
!__init__.py

.idea
/.pydevproject
/.project
/.settings/*
static/css/.sass-cache/
runServer.bat
syncdb.bat
collected_static/
static_media/
webapi_google_adwords/googleads.yaml

.sass-cache/
node_modules/
!bower.json

tecnical_docs/build/*
static/docs
.directory
